* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(255,255,255,0.9) url('./pattern-bg.png') repeat;
  background-size: 25%;
  background-blend-mode: lighten;
  font-family: 'ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav--header {
  height: 80px;
  background-color:#385d7f;
  margin-bottom: 40px;
  box-shadow: 0px 0px 3px 1px #d1d1d1;
}

.nav--header .container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header--logo {
  max-width: 100px;
  margin-right: 10px;
}

.header--text {
  margin-right: auto;
  color:rgb(237, 237, 237);
  font-weight: 700;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-weight: 600;
  text-transform: uppercase;
}

.nav li:hover {
  background-color: #2a4d6e;
}

.nav li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.65rem;
  padding: 0 5px;
}

.content {
  margin: 40px
}

.section--header {
  background-color:#385d7f;
  color:#FFFFFF;
  padding: 20px 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.login--form {
  margin: 0 auto;
  background-color: rgb(237, 237, 237);
  min-width: 350px;
  max-width: 400px;
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login--form--content {
  height: 300px;
  padding: 0 40px;
  display: flex;
  flex-flow: column;
  gap: 5px 10px;
  justify-content: center;
  gap: 20px;
}

.login--form > p {
  line-height: 1.5;
  font-style: italic;
  align-self: flex-end;
 }

label {
  font-size: 0.8rem;
  padding: 0 10px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

input {
  height: 40px;
  border: 0px;
  border-radius: 40px;
  padding: 0 40px;
  font-style: italic;
  position: relative;
}
/**
input[name="email"] {
background: #FFFFFF url("./fonticons/envelope-solid.svg") no-repeat;
background-position: 15px 10px;
background-size: 20px 20px;
}

input[name="mobile"] {
  background: #FFFFFF url("./fonticons/square-phone-flip-solid.svg") no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
}

input[name="address"] {
  background: #FFFFFF url("./fonticons/location-dot-solid.svg") no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
}

input[name="city"] {
  background: #FFFFFF url("./fonticons/mountain-city-solid.svg") no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
}
*/

.form--footer {
  text-align: center;
}

.form--footer a {
  text-decoration: none;
  color: #CCCCCC;
}

/*** Buttons **/
.button--primary {
  font-family: 'ubuntu', sans-serif;
  font-weight: 600;
  background-color: #385d7f;
  padding: 20px 40px;
  margin: 10px auto;
  border: 0px;
  border-radius: 40px;
  color:#FFFFFF;
  align-self: center;
}

.button--primary:hover {
  background-color: #c41e63;
}

.registration--form {
  background-color: #ececec;
  padding: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 20px;
  justify-content: center;
  align-content: center;
  border-radius: 0 0 10px 10px;
}


/*** Grid Layout **/
.colspan--two {
  grid-column: 1 / span 2;
}

/*** Media Screen Layout **/
@media screen and (max-width: 414px) {
  .registration--form {
    background-color: #ececec;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: column;
    gap: 10px 20px;
    justify-content: center;
    align-content: center;
    border-radius: 0 0 0px 0px;
  }
}