* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(255,255,255,0.9) url('./images/page-bg.png') repeat;
  background-size: 25%;
  background-blend-mode: lighten;
  font-family: 'ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav--bar {
  height: 80px;
  color: #FFFFFF;
  background-color:#385d7f;
  box-shadow: 0px 0px 3px 1px #d1d1d1;
  border-bottom: 1px solid #0cce23
}

.nav--bar .container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header--logo {
  max-width: 100px;
  margin-right: 10px;
}

.nav--text {
  margin-right: auto;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav li {
  padding: 30px 20px;
}

.nav li:hover {
  background-color: #2a4d6e;
}

.nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.65rem;
  padding: 30px 0px;
}

.nav, .dropdown--content  {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  font-weight: 600;
  text-transform: uppercase;
  align-items: stretch;
}

.dropdown--menu {
  position: relative;
  align-self: center;
}

.nav li .dropdown--content {
  display: none;
  background-color: #2a4d6e;
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
}

.dropdown--menu:hover .dropdown--content {
  display: block;
}

.dropdown--menu li {
  padding: 10px 20px;
}

.dropdown--menu li:hover {
  background-color: #0cce23;
}

.site--header {
  margin: 0 auto;
  padding: 80px 0;
  background: #e0e1e1 url("./images/login-banner.jpg") no-repeat center center/cover;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.content .container {
  padding: 40px 20px;
  display: grid;
}

.content .container.with--sidebar {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.side--bar {
  margin-left: 20px;
}

.sidebar--card {
  padding: 18px;
  background-color: #2a4d6e;
  color: #FFFFFF;
  border-top: 1px solid #0cce23
}

.sidebar--card ul {
  list-style-type: none;
  line-height: 2;
}

.section--header {
  background-color:#385d7f;
  color:#FFFFFF;
  padding: 10px 10px;
  text-align: center;
  border-radius: 0px 0px 0 0;
}

.login--form {
  margin: 0 auto;
  background-color: rgb(237, 237, 237);
  min-width: 350px;
  max-width: 400px;
  display: flex;
  flex-flow: column;
  border-radius: 0px;
}

.login--form--content {
  height: 300px;
  padding: 0 40px;
  display: flex;
  flex-flow: column;
  gap: 5px 10px;
  justify-content: center;
  gap: 20px;
}

.login--form > p {
  line-height: 1.5;
  font-style: italic;
  align-self: flex-end;
 }

label {
  font-size: 0.8rem;
  padding: 0 10px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

input {
  height: 40px;
  border: 0px;
  border-radius: 40px;
  padding: 0 40px;
  font-style: italic;
  position: relative;
}

#login--email {
background: #FFFFFF url("./fonticons/envelope-solid.svg") no-repeat;
background-position: 15px 10px;
background-size: 15px 20px;
}

#login--password {
  background: #FFFFFF url("./fonticons/unlock-keyhole-solid.svg") no-repeat;
  background-position: 15px 10px;
  background-size: 15px 20px;
  }

/**
input[name="mobile"] {
  background: #FFFFFF url("./fonticons/square-phone-flip-solid.svg") no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
}

input[name="address"] {
  background: #FFFFFF url("./fonticons/location-dot-solid.svg") no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
}

input[name="city"] {
  background: #FFFFFF url("./fonticons/mountain-city-solid.svg") no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
}
*/

.form--footer {
  text-align: center;
  margin-top: 20px;
}

.form--footer a {
  text-decoration: none;
  color: #CCCCCC;
}

/*** Buttons **/
.button--primary {
  font-family: 'ubuntu', sans-serif;
  font-weight: 600;
  background-color: #385d7f;
  padding: 20px 40px;
  margin: 10px auto;
  border: 0px;
  border-radius: 40px;
  color:#FFFFFF;
  align-self: center;
}

.button--primary:hover {
  background-color: #0cce23;
}

.registration--form {
  background-color: #ececec;
  padding: 20px 40px;
  display: grid;
  grid-auto-columns: 40%;
  gap: 20px 10px;
  justify-content: center;
  align-content: center;
  border-radius: 0 0 0px 0px;
}


/*** Grid Layout **/
.colspan--two {
  grid-column: 1 / 3;
}

/*** Media Screen Layout **/
@media screen and (max-width: 680px) {
  .registration--form {
    display: flex;
    flex-flow: column;
  }

  .content .container.with--sidebar {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: auto;
  }

  .side--bar {
    margin-left: 0px;
    margin-top: 40px;
  }
  
}

#footer {
  text-align: center;
  padding: 20px;
  background-color: #385d7f;
  color:#CCCCCC;
  font-size: 1rem;
}