body {
  padding: 20vh 0;
  background: rgba(255,255,255,0.9) url('./pattern-bg.png') repeat;
  background-size: 25%;
  background-blend-mode: lighten;
  font-family: 'ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login--container {
  margin: auto;
  width: 400px;
  max-width: 80%;
  min-height: 400px;
  background-color: azure;
  text-align: center;
  box-shadow: 0px 0px 3px 1px #d1d1d1;
}

.login--header {
  background-color:#1b1e32;
  color:#FFFFFF;
  padding: 10px 20px;
  border-radius: 0px 0px 0 0;
}

.login--form {
  background-color: rgb(237, 237, 237);
  height: 350px;
  padding: 0 30px;
  display: grid;
  grid-template: 60px 60px 100px / 80%;
  gap: 5px 10px;
  justify-content: center;
  align-content: center;
  border-radius: 0 0 0px 0px;
}

.login--form > label {
  text-align: right;
  padding: 10px 0;
  font-size: 0.8em;
  text-transform: uppercase;
}

.login--form > input {
  height: 50px;
  border-radius: 30px;
  border: 0px;
  padding: 0 20px;
  font-style: italic;
}

.login--form > button {
  font-family: 'ubuntu', sans-serif;
  font-weight: 600;
  background-color: #1b1e32;
  padding: 20px 30px;
  border: 0px;
  border-radius: 40px;
  color:#FFFFFF;
  align-self: center;
  /*grid-area: 3 / 1 / span 1 / span 2;*/
}

.login--form > button:hover {
  background-color: #c41e63;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
